<%- include("header") -%>

    <div class="container">
        <div class="home-container">
            <h1 class="home-logo">pepper</h1>
            <p class="home-logo-slogan">Find a job here.</p>
            <nav>
                <a id="signup-link" href="/user/new">SIGN UP</a>
                <a id="login-link" href="/user/login">LOG IN</a>
            </nav>
        </div>


    </div>