<%- include("header") -%>

    <div class="container">
        <div class="logout-container">
            <h1 class="home-logo">pepper</h1>
            <p id="logout-slogan">Thanks for using Pepper!</p>
            <a id="return-to-login" href="/">Return to Login</a>
        </div>
    </div>